/*colors
dark orange #ff8100
*/
body{
	background-color:#C6D3D4;
	margin:0;
}
div p {font-family: Verdana, Arial, sans-serif;}
p,li,a,h1,h2,h3{ 
	font-family: Verdana, Arial, sans-serif; 
	color:white; 
}


/*header code*/
header{
	position:fixed;
	width:100%;
	top:0px;
}
#whiteBanner{
	background-color: white;
	max-height: 60px;
}

#logo{
	max-height: 52px;
	position: center;
	padding-left: 8px;
	padding-top: 3px;
}
#menuIMG{
	position: absolute;
	right:1vw;
	top: 1vw;
	max-height: 50%;
}


/*menu css code*/
#menu {
  list-style-type: none;
  margin: 0;
  padding:0;
  top: 0;
  display: none;
}

.itemMenu a{
	float:right;

	display: block;
	padding: 14px 16px;

	background-color: #ff8100;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;

	text-align: center;
	font-size: 1vw;
	color: white;
	border: 2vw, white;
	outline-style: solid;
}


.itemMenu a:hover{
	background-color: #98CDD1;
	color: white;
}