/*colors
dark orange #ff8100
*/
body{
	background-color:#C6D3D4;
	margin:0;
}

/*header code*/
header{
	background-color: white;
	position:relative;
}
#logo{
	max-width: 16%;
	position: center;
	padding-left: 8px;
	padding-top: 3px;
}
#menuIMG{
	position: absolute;
	right:18px;
	top: 10px;
	padding-top:3px;
	max-width:4%
}


/*menu css code*/
#menu {
  list-style-type: none;
  margin: 0;
  padding:0;
  top: 0;
  display: none;
}

.itemMenu a{
	float:right;
	display: block;
	padding: 14px 16px;

	background-color: #ff8100;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;

	text-align: center;
	font-size: 1vw;
	color: white;
}

.itemMenu a:hover{
	background-color: #98CDD1;
	color: white;
}